/* tipo de letra cursiva */
.tangerine-regular {
  font-family: "Tangerine", cursive;
  font-weight: 400;
  font-style: normal;
}

.tangerine-bold {
  font-family: "Tangerine", cursive;
  font-weight: 700;
  font-style: normal;
}

/* Background en el navbar */
.active-link {
  background-color: #435d85;
  color: white !important; 
  border-radius: 8px;
}

/* Estilo para la card del home */
.card-home {
  width: 450px;
}
